#
# Systemd unit file for Application
#

[Unit]
Description=GitLab WebHook Daemon

[Service]
User=gl_webhook
Group=gl_webhook

Type=fork
ExecStart=/usr/bin/python /home/gl_webhook/gitlab-webhook-receiver/gitlab_webhook_receiver/gitlab_webhook_receiver.py
ExecStop=/usr/bin/pkill --pidfile /var/run/gitlab-webhook-receiver/gitlab-webhook.pid
PIDFile=/var/run/gitlab-webhook-receiver/gitlab-webhook.pid

[Install]
WantedBy=multi-user.target
